/MVCLesson4_big/bin
/MVCLesson4_big/obj
/packages/Microsoft.AspNet.WebPages.3.0.0
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0
/packages/jQuery.1.10.2
/packages/jQuery.Validation.1.11.1
/packages/Microsoft.AspNet.Mvc.5.0.0
/packages/Microsoft.AspNet.Razor.3.0.0
