@model MVCLesson4_big.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home"))
{
    <div><label>Логин</label> @Html.TextBoxFor(m=>m.Login)</div>
    <div><label>Пароль</label>@Html.TextBoxFor(m=>m.Pass)</div>
    <div>
        <input type="submit" value="Войти">
    </div>
}
@if (ViewBag.Result != null)
{
    <div>
        @ViewBag.Result
    </div>
}